.recipe-img {
  max-width: 100vw;
}

.start-recipe-btn {
  position: fixed; /* não alterar faz parte do teste */
  background-color: antiquewhite;
  color: black;
  bottom: 0; /* não alterar faz parte do teste */
}
