form .submit.btn {
  align-self: center;
  background-color: #533021;
  color: inherit;
  width: 50%;
}

form .submit:is( :hover, :focus ) {
  background-color: #43271c3f;
  transition: 1s;
  width: 60%;
}

form .form-check :is( label, input ) {
  margin: 0.7vh 1vw 1vh 0.5vw;
  padding: 0 3vw 0 0;
}

header .form-control {
  align-self: center;
  margin: 3vh 0;
  width: 58%;
}
